.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    background: #6278f7;
    padding: 3rem;
}

.footer__text {
    color: #fff;
    width: 100%;
}

.footer__link {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

.footer__link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}

.footer__link:hover::after {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .footer__container {
        justify-content: center;
        gap: 3rem;
    }
}
