@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    border: none;
    color: #323232;
}

body,
html {
    height: 100vh;
    width: 100vw;
    background: url(../img/background.jpg) center center no-repeat fixed;
    background-size: cover;
    overflow: hidden;
}




.login-container {
    background: white;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.473);
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.page-title {
    position: relative;
    letter-spacing: -0.2rem;
}

.page-title span {
    position: relative;
    display: inline-block;
    animation: flip 5s infinite;
    animation-delay: calc(.2s * var(--i))
}

form {
    margin: 30px 0 40px 0;
}

label,
input {
    display: block;
    width: 100%;
    text-align: start;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 1px solid #323232;
    border-radius: 0;
    padding: 10px;
    transition: 0.3s;
    font-size: 1rem;
    margin: 0 0 20px 0;
    width: 90%;
}

input:focus {
    outline: none;
    width: 100%;
    border-bottom: 1.2px solid #085588;
}

input::placeholder {
    font-style: italic;
}

a,
label {
    font-size: .8rem;
    /* 16 * 0.8 = x */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #085588;
}

#forgot {
    float: right;
}

input[type="submit"] {
    background: #085588;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    margin: auto auto 70px auto;
    padding: 10px;
    font-size: 1rem;
    position: relative;
    top: 30px;
}

input[type="submit"]:hover {
    background-color: #1B223C;
    transition: .3s;
    letter-spacing: 1.9px;
}

input[type="submit"]:focus {
    width: 100%;
}


p {
    margin: 20px auto;
}

#eye-svg {
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 50px;

}

#facebook {
    background: #2C4A78;
    height: 40px;
    width: 40px;
    border-radius: 400px;
    display: inline-block;
    padding: 12px 0 0 0;
    font-size: 1rem;
    margin: 0 10px 0 0px;
    transition: .3s;
    color: white;
}

#facebook:hover {
    box-shadow: 1px 1px 2px black,
        2px 2px 2px black,
        3px 3px 2px black,
        4px 4px 2px black;
    transform: translate(-4px, -4px);
}

#linkedin {
    background: #4386A9;
    height: 40px;
    width: 40px;
    border-radius: 400px;
    display: inline-block;
    padding: 12px 0 0 0;
    font-size: 1rem;
    margin: 0 0 0 10px;
    transition: .3s;
    color: white;
}

#linkedin:hover {
    box-shadow: 1px 1px 2px black,
        2px 2px 2px black,
        3px 3px 2px black,
        4px 4px 2px black;
    transform: translate(-4px, -4px);
}

@keyframes underline {
    to {
        text-decoration: none;
    }

    from {
        text-decoration: underline;
    }
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}


@media screen and (max-width: 400px) {
    .login-container {
        height: 65vh;
        width: 350px;
    }
}

@media screen and (max-height: 680px) {
    .login-container {
        height: 85vh;
        width: 350px;
    }
}

@media screen and (max-height: 750px) {
    .login-container {
        height: 80vh;
        width: 300px;
    }
}

@media screen and (max-width: 300px) {
    .login-container {
        height: 90vh;
        width: 250px;
    }

    input {
        width: 95%;
    }
}

@media screen and (max-width: 350px) {
    .login-container {
        height: 65vh;
        width: 300px;
    }
}