@charset "UTF-8";
@import url(default.css);

body {
    overflow: visible;
}

.title {
    position: absolute;
    top: 5%;
    left: 36%;
    width: 30%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    height: 100vh;
    padding-bottom: 12rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    margin-top: 10vh;
}

.informations label {
    width: 100%;
}

.percentage-options {
    grid-template-columns: 130px 130px;
    margin: -5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#bill,
#people-num {
    width: 80vw;
}

.results {
    width: 100%;
    padding: 2.5rem 1.2rem;
    position: relative;
    right: 3%;
}

.results-price {
    font-size: 2rem;
    bottom: 2vh;
}