@charset "UTF-8";
@import url(default.css);

body {
    overflow: visible;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    max-height: 92vh;
    padding-bottom: 12rem;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.informations label {
    width: 100%;
}

.percentage-options {
    grid-template-columns: 130px 130px;
    margin: auto 15%;
}

#bill,
#people-num {
    width: 80vw;
}

.results {
    width: 100%;
    padding: 2.5rem 1.2rem;
}

.results-price {
    font-size: 2rem;
    bottom: 2vh;
}