@use '../variables'
@use '../mixins'

#main-content
    background: variables.$bg-primary-color
    padding: 3rem
    flex: 2 1 0
    border-radius: variables.$container-border-radius
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.62)
    cursor: default

    section
        display: flex
        flex-direction: column

    h2
        color: variables.$text-primary-color
        @include mixins.center
        justify-content: start
        gap: 1rem
        margin-bottom: 1.3rem
        font-size: 2.2rem

        &::after
            @include mixins.gradient-bar

    p
        color: variables.$text-secondary-color
        line-height: 1.4rem
        margin-bottom: 1rem

    .btn
        @include mixins.btn
        align-self: start
        transition: .3s
        &:hover
            background: linear-gradient(90deg, #1a418e 0%, #0d1327 100%)
