@charset "UTF-8";

:root {
    --body-bg-color: linear-gradient(-110deg, #142351 60%, #1E2D59 60%);
    --font-stack: Arial, Helvetica, sans-serif;
    --text-primary-color: #fff;
    --text-secondary-color: #a6a6a6;
    --bg-primary-color: #111;
    --bg-secondary-color: #191919;
    --container-border-radius: 10px;
    --card-border-radius: 5px;
    --gradient: linear-gradient(90deg, #3071F2 0%, #1E2D59 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--body-bg-color);
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.title {
    color: var(--text-primary-color);
    text-align: center;
}

#projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

div {
    background: var(--bg-primary-color);
    border-radius: var(--container-border-radius);
    display: flex;
    height: 500px;
    width: 500px;
    margin: 40px 15px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px black;
}

h3 {
    color: var(--text-secondary-color);
    font-size: 2rem;
}

img {
    height: 300px;
    width: 450px;
    object-fit: cover;
    border: 2px solid var(--bg-secondary-color);
    border-radius: var(--card-border-radius);
}

.btn {
    padding: 1rem 1.2rem;
    border-radius: 3rem;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, #3071F2 0%, #1E2D59 100%);
    border: none;
    min-width: 50%;
    font-size: 1.125rem;
    cursor: pointer;
}