@use './variables'
@use './_mixins'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Josefin Sans', sans-serif

body
    background: variables.$bg-color
    color: variables.$text-color

    a
        color: variables.$text-color
        text-decoration: none
        transition: .4s

    ul
        list-style: none

.header
    display: flex
    justify-content: space-between
    @include mixins.container

    @include mixins.mobile
        padding: 1.1rem

    &-brand // .header-brand
        color: variables.$primary-color
        font-size: 3rem

    &-navbar // .header-navbar
        #btn-mobile
            display: none
            color: white
            background: #2d2d2d
            letter-spacing: 2px
            margin-right: .6rem

            @include mixins.mobile
                display: flex
                margin-left: 1rem
                padding: 0.5rem 1rem
                font-size: 1rem
                border: none
                cursor: pointer
                position: relative
                top: .5rem
                left: 3rem

                #menu
                    display: block
                    position: absolute
                    width: 100%
                    top: 70px
                    right: 0
                    background: #e7e7e7
                    z-index: 10000
                    height: 0
                    transition: 0.6s ease
                    opacity: 0
                    overflow-y: hidden

                #hamburguer
                    display: block
                    width: 20px
                    border-top: 2px solid
                    gap: .5rem

                    &::before
                        content: ''
                        display: block
                        width: 20px
                        height: 2px
                        background: currentColor
                        margin-top: 5px
                        transition: .3s ease

                    &::after
                        content: ''
                        display: block
                        width: 20px
                        height: 2px
                        background: currentColor
                        margin-top: 5px
                        transition: .3s ease
        &.active
            #hamburguer
                border-top-color: transparent
                transition: .1s ease

                &::before
                    transform: rotate(135deg)

                &::after
                    transform: rotate(-135deg)
                    position: relative
                    top: -7px

            @include mixins.mobile
                &.active
                    #menu
                        height: calc(100vh - 70px)
                        opacity: 100
                        overflow-y: auto
                        width: 100%

                    ul
                        display: flex
                        flex-direction: column
                        background: #2d2d2d
                        justify-content: space-between
                        position: absolute
                        top: 8%
                        right: 0%
                        z-index: 2
                        border-bottom: 3px solid #545454
                        box-shadow: 0 0 10px black
                        overflow: hidden

                        li
                            font-size: 1.3rem
                            text-align: center
                            padding-top: 4.5rem
                            height: 100%
                            width: 100%
                            transition: .3s
                            &:hover
                                background: #393939

        ul
            height: 100%
            @include mixins.content-center

            @include mixins.mobile
                display: none

            li
                font-size: .8rem
                margin: 0 1rem
                text-transform: uppercase

                .active
                    color: variables.$secondary-color

                a
                    &:hover
                        color: variables.$secondary-color

    &-social-medias

        ul
            @include mixins.content-center
            height: 100%

            @include mixins.mobile
                display: none

            li
                margin: 0 1rem

                a
                    &:hover
                        color: variables.$primary-color

.gallery
    @include mixins.container
    @include mixins.content-center
    flex-wrap: wrap
    justify-content: space-between
    padding: 0

    @include mixins.mobile
        flex-direction: column

    &-card
        width: 31%
        height: 400px
        margin-bottom: 4%
        @include mixins.content-center
        flex-direction: column
        color: variables.$primary-color

        @include mixins.mobile
            width: 90%
            margin-bottom: 6%

        &-title
            font-size: 2rem
            font-weight: 300
            margin-bottom: 1rem

        &-btn
            border: 2px solid variables.$primary-color
            padding: .6rem 2rem
            font-weight: 400
            color: variables.$primary-color
            letter-spacing: 1px
            text-transform: uppercase
            &:hover
                background: variables.$primary-color
                color: variables.$bg-color

    #card-1
        @include mixins.bg-image('animais.jpg')
    #card-2
        @include mixins.bg-image('arquitetura.jpg')
    #card-3
        @include mixins.bg-image('cidade.jpg')
    #card-4
        @include mixins.bg-image('decoracao.jpg')
    #card-5
        @include mixins.bg-image('esportes.jpg')
    #card-6
        @include mixins.bg-image('natureza.jpg')
    #card-7
        @include mixins.bg-image('paisagem.jpg')
    #card-8
        @include mixins.bg-image('pessoas.jpg')
    #card-9
        @include mixins.bg-image('refeicoes.jpg')

footer
    text-align: center
    padding-bottom: 2rem

    span
        font-weight: bold
        color: variables.$secondary-color
