.organization__title {
    color: #6278f7;
    font-size: 2.5rem;
    text-align: center;
}

.organization__line {
    background: #6278f7;
    color: #6278f7;
    width: 4% !important;
}

.line {
    display: flex;
    justify-content: center;
    margin: 0 auto 1rem auto;
    width: 2%;
    line-height: 30%;
}

.team__container {
    position: relative;
    text-align: center;
    padding: 2rem;
    background-image: url(../../../public/imagens/fundo.png);
    background-position: center center;
    background-size: cover;
}

.team__title {
    display: inline-block;
    font-family: "Prata", serif;
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

.team__collaborators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.color__input {
    position: absolute;
    top: 20px;
    right: 50px;
}
