* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: #000;
  color: #777;
}
body a {
  color: #777;
  text-decoration: none;
  transition: 0.4s;
}
body ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding: 1.5rem 0;
}
@media (max-width: 425px) {
  .header {
    padding: 1.1rem;
  }
}
.header-brand {
  color: #FFF;
  font-size: 3rem;
}
.header-navbar #btn-mobile {
  display: none;
  color: white;
  background: #2d2d2d;
  letter-spacing: 2px;
  margin-right: 0.6rem;
}
@media (max-width: 425px) {
  .header-navbar #btn-mobile {
    display: flex;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    position: relative;
    top: 0.5rem;
    left: 3rem;
  }
  .header-navbar #btn-mobile #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background: #e7e7e7;
    z-index: 10000;
    height: 0;
    transition: 0.6s ease;
    opacity: 0;
    overflow-y: hidden;
  }
  .header-navbar #btn-mobile #hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid;
    gap: 0.5rem;
  }
  .header-navbar #btn-mobile #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s ease;
  }
  .header-navbar #btn-mobile #hamburguer::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s ease;
  }
}
.header-navbar.active #hamburguer {
  border-top-color: transparent;
  transition: 0.1s ease;
}
.header-navbar.active #hamburguer::before {
  transform: rotate(135deg);
}
.header-navbar.active #hamburguer::after {
  transform: rotate(-135deg);
  position: relative;
  top: -7px;
}
@media (max-width: 425px) {
  .header-navbar.active.active #menu {
    height: calc(100vh - 70px);
    opacity: 100;
    overflow-y: auto;
    width: 100%;
  }
  .header-navbar.active.active ul {
    display: flex;
    flex-direction: column;
    background: #2d2d2d;
    justify-content: space-between;
    position: absolute;
    top: 8%;
    right: 0%;
    z-index: 2;
    border-bottom: 3px solid #545454;
    box-shadow: 0 0 10px black;
    overflow: hidden;
  }
  .header-navbar.active.active ul li {
    font-size: 1.3rem;
    text-align: center;
    padding-top: 4.5rem;
    height: 100%;
    width: 100%;
    transition: 0.3s;
  }
  .header-navbar.active.active ul li:hover {
    background: #393939;
  }
}
.header-navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 425px) {
  .header-navbar ul {
    display: none;
  }
}
.header-navbar ul li {
  font-size: 0.8rem;
  margin: 0 1rem;
  text-transform: uppercase;
}
.header-navbar ul li .active {
  color: #20C997;
}
.header-navbar ul li a:hover {
  color: #20C997;
}
.header-social-medias ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 425px) {
  .header-social-medias ul {
    display: none;
  }
}
.header-social-medias ul li {
  margin: 0 1rem;
}
.header-social-medias ul li a:hover {
  color: #FFF;
}

.gallery {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
@media (max-width: 425px) {
  .gallery {
    flex-direction: column;
  }
}
.gallery-card {
  width: 31%;
  height: 400px;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFF;
}
@media (max-width: 425px) {
  .gallery-card {
    width: 90%;
    margin-bottom: 6%;
  }
}
.gallery-card-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.gallery-card-btn {
  border: 2px solid #FFF;
  padding: 0.6rem 2rem;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.gallery-card-btn:hover {
  background: #FFF;
  color: #000;
}
.gallery #card-1 {
  background: #000 url("../img/animais.jpg") center center no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/animais.jpg");
  background-size: 110%;
  filter: grayscale(0%);
}
.gallery #card-2 {
  background: #000 url("../img/arquitetura.jpg") center center no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/arquitetura.jpg");
  background-size: 110%;
  filter: grayscale(0%);
}
.gallery #card-3 {
  background: #000 url("../img/cidade.jpg") center center no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cidade.jpg");
  background-size: 110%;
  filter: grayscale(0%);
}
.gallery #card-4 {
  background: #000 url("../img/decoracao.jpg") center center no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-4:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/decoracao.jpg");
  background-size: 110%;
  filter: grayscale(0%);
}
.gallery #card-5 {
  background: #000 url("../img/esportes.jpg") center center no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-5:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/esportes.jpg");
  background-size: 110%;
  filter: grayscale(0%);
}
.gallery #card-6 {
  background: #000 url("../img/natureza.jpg") center center no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-6:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/natureza.jpg");
  background-size: 110%;
  filter: grayscale(0%);
}
.gallery #card-7 {
  background: #000 url("../img/paisagem.jpg") center center no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-7:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/paisagem.jpg");
  background-size: 110%;
  filter: grayscale(0%);
}
.gallery #card-8 {
  background: #000 url("../img/pessoas.jpg") center center no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-8:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pessoas.jpg");
  background-size: 110%;
  filter: grayscale(0%);
}
.gallery #card-9 {
  background: #000 url("../img/refeicoes.jpg") center center no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-9:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/refeicoes.jpg");
  background-size: 110%;
  filter: grayscale(0%);
}

footer {
  text-align: center;
  padding-bottom: 2rem;
}
footer span {
  font-weight: bold;
  color: #20C997;
}

/*# sourceMappingURL=styles.css.map */
