@charset "UTF-8";

:root {
    --cor1: #49a09d;
    --cor2: #5f2c82;
    /* Branco 
       Preto */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--cor2) fixed;
    height: 100vh;
    overflow: hidden;
}

html {
    overflow: hidden;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 75%;
    height: 650px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.450);
    transition: 0.3s;
}

#img {
    background: url(..//img/metal.jpg) center center fixed;
    background-size: cover;
    height: 250px;
    border-radius: 15px 15px 0 0;
    display: block;
    transition: 0.3s;
}


h1 {
    text-align: center;
    margin: 5px 0 -10px 0;
    font-size: 1.8rem;
}

p {
    text-align: justify;
    margin: 25px 0 20px 0
}

#form {
    padding: 15px;
    display: block;
}

span {
    color: white;
    background-color: var(--cor2);
    width: 101%;
    border-radius: 10px;
    display: inline;
    height: 50px;
    position: relative;
    padding: 5px 3px 5px 1px;
    margin: -30px 0px;
}

input {
    height: 42px;
    display: block;
    width: 86%;
    border-radius: 10px;
    float: right;
    position: relative;
    bottom: 41px;
    padding: 0px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #92CFCB;
    color: rgba(70, 70, 70, 0.87);
}

.btn-consent {
    width: 100%;
    margin: 5px 0;
    border-radius: 10px;
    font: 12pt arial;
    font-weight: 100;
    padding: 20px 0 35px 0px;
    cursor: pointer;
}

#submit {
    background-color: #4FAAA4;
    color: white;
    margin: 20px 0 0 0;
}

#submit:hover {
    background-color: #3d8784;
    color: rgba(171, 171, 171, 0.679);
}

#forgot {
    background: white;
    color: var(--cor1);
    display: inline;
    transition: 0.1s;
}

#forgot:hover {
    background: #66CEC6;
    color: #276566;
}

#mail {
    display: inline;
    background: none;
    color: var(--cor1);
    position: absolute;
    left: 76%;
    top: 96.5%;
}

#mail:hover {
    color: #276566;
}

#mail-link {
    text-decoration: none;
    color: var(--cor1);
}


#relative1 {
    position: relative;
    top: 15px;
}

#relative2 {
    position: relative;
    top: 10px;
}

@media screen and (orientation: landscape) {
    #login {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        width: 90%;
        height: 369px;
    }

    #img {
        width: 400px;
        border-radius: 20px 0 0 20px;
        height: 420px;
    }

    input {
        width: 85%;
    }


    #form {
        margin: 20px 0 0 0;
        padding: 20px;
    }

    span {
        padding: 5px 3px 5px 14px;
    }

}

@media screen and (min-width: 768px) {
    body {
        background: linear-gradient(to top, var(--cor1), var(--cor2));
    }

    h1 {
        padding: 15px 0 0 0;
    }


    #login {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        width: 90%;
        height: 345px;
    }

    #img {
        width: 400px;
        border-radius: 20px 0 0 20px;
        height: 420px;
    }

    input {
        width: 88%;
    }


    #form {
        margin: 20px 0 0 0;
        padding: 20px;
    }

    span {
        padding: 5px 3px 5px 14px;
    }
}

@media screen and (min-width: 992px) {

    h1 {
        padding: 0;
        margin: 0;
    }

    #login {
        display: inline-flex;
        flex-direction: row-reverse;
        align-content: space-around;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 420px;
    }

    #img {
        border-radius: 0 20px 20px 0;
        width: 65%;
    }

    input {
        width: 89%;
    }


}

@media screen and (min-width: 1200px) {
    #login {
        display: inline-flex;
        flex-direction: row-reverse;
        align-content: space-around;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 500px;
    }

    #img {
        border-radius: 0 20px 20px 0;
        width: 50%;
        height: 500px;
    }

}