body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
  max-height: 100vh;
  max-width: 100vw;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
}
