.medias__container {
    display: flex;
    gap: 4rem;
    transform: scale(0.7);
    cursor: pointer;
}

.medias__container a:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .medias__container {
        justify-content: center;
        gap: 3rem;
    }
}
