$font-stack: Arial, Helvetica, sans-serif
$text-primary-color: #fff
$text-secondary-color: #a6a6a6
$body-bg-color: linear-gradient(110deg, #142351 60%,#1E2D59 60%)
$bg-primary-color: #111
$bg-secondary-color: #191919
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, #3071F2 0%, #1E2D59 100%)
