.card__container {
    width: 280px;
    margin: 2rem;
    position: relative;
}

.card__container .card__picture {
    background-color: #f0f0f0;
    border-radius: 10px 10px 0px 0px;
}
.card__container img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
    object-fit: cover;
}

.card__container .card__informations {
    background: #ffffff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.card__container .card__informations h4 {
    color: #6278f7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card__container .card__informations h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}

.delete {
    position: absolute;
    right: -10px;
    top: -10px;
    background: #212121;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.delete:hover {
    background-color: black;
    box-shadow: 2px 2px 0px black;
    transform: translate(-2px, -2px);
}

@media screen and (max-width: 768px) {
    .card__container {
        width: 280px;
        margin: 2rem auto;
    }
}
