.form__button {
    background: #6278f7;
    color: #fff;
    border-radius: 10px;
    padding: 1.4rem 2rem;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #6278f7;
    cursor: pointer;
    transition: 0.2s;
    margin: 1rem 0;
}

.form__button:hover {
    color: #95ffd4;
}
